@font-face {
    font-family: Gochi Hand;
    src: url("https://fonts.googleapis.com/css?family=Gochi+Hand:regular");
}
  
@font-face{
    font-family: BenchNine;
    src: url("https://fonts.googleapis.com/css?family=BenchNine:300,regular,700");
}
  
* {
    background: #F5F6FA;
    color: #006;
    margin: 0;
    padding: 0;
    font-family: Gochi Hand;
    box-sizing: border-box;
    text-decoration: none;
}

/* Navigation Bar */

#navbar1 {
    z-index: 1;
    background-color: transparent;
}

.NavigationBar {
    text-align: left;
    padding: 25px;
    display: fixed;
    position: fixed;
    width: 100%;
    z-index: 10;
    font-size: 32px;
    font-weight: 700;
    transition: top 1.5s ease-in-out;
    z-index: 0;
    background-color: transparent;
}
  
.NavigationBar ul {
    display: inline-flex;
    align-items: flex-start;
    gap: 49px;
    background-color: transparent;
}
  
.NavigationBar ul li {
    list-style: none;
    background-color: transparent;
}
  
.NavigationBar ul li a {
    font-family: BenchNine;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    background-color: transparent !important;
}

/* Service Menu Bar */

nav {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

#x-button {
    position: absolute;
    top: 20px;
    left: 240px;
    cursor: pointer;
    font-size: 48px;
    background-color: transparent;
}

.ServiceMenu {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #FFE475;
    transition: 1s ease-in-out;
    z-index: 11;
}

.ServiceMenu ul li {
    text-align: left;
    list-style-type: none;
    font-size: 35px;
    padding: 20px 30px;
    background-color: #FFE475;
}

.ServiceMenu ul li a {
    background-color: #FFE475;
}

.ServiceMenu.active {
    left: 0;
}

/* Website Title */
.TitlePage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 269px;
}

#house-icon {
    position: absolute;
    top: 280px;
    left: 400px; 
    background: none;
}

@keyframes flash {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
.BeginHere {
    position: relative;
    font-size: 36px;
    font-weight: 400;
    box-sizing: border-box;
    animation: flash 3s infinite, bounce 3s infinite;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 500px;
}

#ServiceForm {
    text-align: center;
    margin-top: 20px;
    padding: 200px;
}

.Form-Box {
    width: 759px;
    max-width: 800px;
    background-color: #FFE475;
    font-size: 35px;
    padding-top: 200px;
    box-shadow: -30px 30px 0px rgb(0, 0, 102, 1);
    border-radius: 20px;
    padding: 20px; /* Padding inside the box */
    border-radius: 50px; /* Rounded corners for the box */
    display: inline-block;
    line-height: 1.9;
}

#shelterQuestions hr {
    border: none;
    height: 2px;
    background-color: transparent;
}

#daycareQuestions hr {
    border: none;
    height: 2px;
    background-color: transparent;
}

#employmentQuestions hr {
    border: none;
    height: 2px;
    background-color: transparent;
}

#foodServiceQuestions hr {
    border: none;
    height: 2px;
    background-color: transparent;
}

#medicalServiceQuestions hr {
    border: none;
    height: 2px;
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}

label {
    background-color: transparent;
}

select {
    text-align: center;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 20px;
    height: 20px; 
    border-radius: 50%; 
    outline: none; 
    margin-right: 5px; 
}

input[type="radio"]:checked {
    background-color: #006;
    border: 3px solid #F5F6FA ;
}

#service {
    font-family: BenchNine;
    font-size: 32px;
    border-radius: 32px;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.50);
    width: 309px;
    
}

#shelterQuestions, #daycareQuestions, #employmentQuestions, #foodServiceQuestions, #medicalServiceQuestions {
    background-color: transparent;
    font-size: 25px;
    text-align: justify;
}

.scroll-up{
    padding: 11px;
}

#submit {
    font-size: 32px;
    color: #F5F6FA;
    background-color: #006;
    border-color: transparent;
    border-radius: 32px;
    width: 165px;
    height: 58px;
}

/* About Us Page */

.sections {
    position: relative;
    width: 100%;
}

#section1 {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.text-container-1,
.text-container-2,
.text-container-3
{
    background-color: transparent !important;
}

.text-container-1 p {
    background-color: transparent;
}

.text-container-2 p {
    background-color: transparent;
    color: #F5F6FA;
}

.text-container-3 p {
    background-color: transparent;
    color: #F5F6FA;
}

.text-container-1 {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(0%, -50%);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#section2 {
    height: 100vh;
    background-color: #006;
    z-index: 2;
}

.text-container-2 {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(0%, -50%);
    text-align: center;
    color: #F5F6FA;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#section3 {
    height: 90vh;
    z-index: 2;
}

.text-container-3 {
    position: absolute;
    top: 75%;
    left: 5%;
    transform: translate(0%, -50%);
    text-align: center;
    color: #F5F6FA;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.VolunteerButton {
    position: absolute;
    top: 77%;
    left: 7%;
    z-index: 2;
    background-color: transparent;
}

.VolunteerButton button {
    font-family: BenchNine;
    font-size: 40px;
    width: 360px;
    height: 81px;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 50px;
    background-color: #FFE475;
    cursor: pointer;
}

.VolunteerButton a {
    background-color: transparent;
}

.ContactTitle {
    position: absolute;
    top: 82%;
    right: 23%;
    transform: translate(0%, -50%);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ContactInfo {
    position: absolute;
    top: 90%;
    right: 19%;
    transform: translate(0%, -50%);
    font-size: 50px;
}

/* Login (Volunteers) & Sign Up Page */

.LoginRegisterBG {
    position: relative;
}

.LoginRegisterBG img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 169px;
}

@keyframes moveBike {
    0% {
        left: -120%;
    }
    100% {
        left: 130%;
    }
}

#bike {
    position: absolute;
    width: 96px;
    height: 55px;
    background-color: transparent;
    margin: 499px 1440px 470px;
    z-index: 1;
    left: 120%;
    animation: moveBike 20s linear infinite;
    animation-delay: 0.1s;
}

#houses {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    width: 506px;
    height: 326px;
    flex-shrink: 0;
    margin: 259px 877px 439px 57px;
    z-index: 2;
}

.LoginContainer, .SignUpContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 113px 167px 293px 783px;
    border-radius: 40px;
    z-index: 2;
}

#LoginBox, #SignUpBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid #F5F6FA;
    width: 490px;
    height: 618px;
    padding: 20px;
    background-color: #FFE475;
    font-size: 35px;
    padding-top: 200px;
    border-radius: 40px;
}

#LoginBox label {
    display: block;
    margin-bottom: 10px;
    width: 490px;
}

#LoginBox input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.LoginContainer h1 {
    margin-top: -140px;
    font-size: 64px;
    background-color: transparent;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#email_address {
    color: rgba(0, 0, 0, 0.50);
    font-family: BenchNine;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 33px;
    border-color: transparent;
    margin-bottom: 5px;
    margin-top: 70px;
    width: 380px !important;
}

#password {
    color: rgba(0, 0, 0, 0.50);
    font-family: BenchNine;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 33px;
    border-color: transparent;
    margin-bottom: 5px;
    margin-top: 70px;
    width: 380px !important;
}

#Login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 35px;
    background-color: #006;
    color: #F5F6FA;
    border-color: transparent;
    border-radius: 33px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    width: 175px !important;
}

#AskUser {
    position: absolute;
    font-family: BenchNine;
    left: 145px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
    margin-bottom: -340px;
}

#VerificationMessage {
    position: absolute;
    background-color: transparent;
    color: red;
    font-size: 20px;
    margin-top: 240px;
    margin-right: 150px;
}

#CreateAcc a {
    position: absolute;
    font-family: BenchNine;
    right: 135px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -27px;
}

#SignUpBox label {
    display: block;
    margin-bottom: 10px;
    width: 490px;
}

#SignUpBox input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.SignUpContainer h1 {
    margin-top: -160px;
    margin-bottom: 20px;
    font-size: 64px;
    background-color: transparent;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#first_name, #last_name, #age, #contact_info, #password, #password2 {
    color: rgba(0, 0, 0, 0.50);
    font-family: BenchNine;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 33px;
    border-color: transparent;
    margin-bottom: 15px;
    width: 380px !important;
}

#submitCreateAcc {
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #006;
    color: #F5F6FA;
    border-color: transparent;
    border-radius: 33px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    width: 252px !important;
}

/* Services Page */
h2 {
    font-size: 118px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 100px 0 0 80px;
}

.OtherServices {
    position: fixed;
    right: 0;
    text-align: right;
    list-style: none;
    height: 100vh;
    display: flex;
    margin-top: -90px;
    margin-right: -90px;
    transition: right 3s ease-in-out;
    z-index: 2;
}

.OtherServices nav ul {
    list-style-type: none;
    padding: 0;
}

.OtherServices nav ul li {
    font-size: 20px;
    font-family: sans-serif;
    background-color: #FFE475;
    border-radius: 35px;
    letter-spacing: 0.1em;
    width: 6.8em;
    height: 1.6em;
    line-height: 1.5em;
    position: relative;
    overflow: hidden;
    margin: 1.2em;
    cursor: pointer;
    text-align: center;
}

.OtherServices a {
    color: #F5F6FA !important;
    background-color: transparent !important;
}

.OtherServices nav ul li span {
    color: #F5F6FA;
    background-color: transparent;
    mix-blend-mode: difference;
}

.OtherServices nav ul li::before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: inherit;
    border-radius: 50%;
    top: 0;
    left: -2em;
    transition: 1.5s ease-out;
    background-color: #006;
}


.OtherServices nav ul li:hover::before {
	transform: scale(11);
}
  
.shelterContainer {
    display: flex;
    max-width: 2000px;
    min-height: 450px;
    width: 1300px;
    padding: 5px 40px 5px 40px;
    background-color: #FFE475;
    border-radius: 35px;
    box-shadow: -30px 30px 0px rgba(0, 0, 102, 1);
    justify-content: center; /* Center content horizontally */
    align-items: center;
}

.mapContainer {
    border-radius: 35px;
    box-shadow: -10px 10px 0px rgba(0, 0, 102, 1);
    width: 500px; /* Adjust the width of the map container */
    height: 400px; /* Adjust the height of the map container */
    
    
}



.shelterInfo {
    flex: 1; /* Take up remaining space */
    padding: 5px 40px 5px 40px;
    background-color: #FFE475;
    display: block;
    width: 780px;
    height: auto;
    max-width: 850px;
}

.shelterInfo h4 {
    background-color: transparent !important;
    text-indent: 0;
}

.shelterInfo p {
    background-color: transparent !important;
}

.shelters-info {
    animation-delay: 0.2s;
    animation: fade-in-up 0.5s;
    animation-fill-mode: both;
    padding-left: 120px;
    margin: 10px;
    line-height: 50px;
    font-size: 50px;
    width: 850px;
    text-indent: 40px;
}

.shelters-info > div {
    margin-bottom: 65px;
}

.shelters-info hr {
    display: none;
}

.shelters-info p:nth-child(3) { /* address */
    font-family: BenchNine; 
    font-size: 30px;
    font-weight: 700;
}

.shelters-info p:nth-child(4) { /* phone number */
    font-family: BenchNine; 
    font-size: 24px;
    font-weight: 700;
}

.shelters-info p:nth-child(5) { /* email */
    font-family: BenchNine; 
    font-size: 24px;
}

.shelters-info p:nth-child(6) { /* website */
    font-family: BenchNine; 
    font-size: 24px;
}

.shelters-info p:nth-child(7) { /* description */
    font-family: BenchNine; 
    font-size: 24px;
}

#servicesContainer {
    padding: 0 100px 0 100px;
}

.servicesContainer {
    padding: 5px 40px 5px 40px;
    background-color: #FFE475;
    border-radius: 35px;
    box-shadow: -30px 30px 0px rgb(0, 0, 102, 1);
    display: block;
    width: 780px;
    height: auto;
    max-width: 850px;
}

.servicesContainer h4 {
    background-color: transparent !important;
    text-indent: 0;
}

.servicesContainer p {
    background-color: transparent !important;
}

.allServices-info {
    animation-delay: 0.2s;
    animation: fade-in-up 0.5s;
    animation-fill-mode: both;
    padding-left: 120px;
    margin: 10px;
    line-height: 50px;
    font-size: 50px;
    width: 850px;
    text-indent: 40px;
}

.allServices-info > div {
    margin-bottom: 65px;
}

.allServices-info hr {
    display: none;
}

.allServices-info p:nth-child(3) { /* address */
    font-family: BenchNine; 
    font-size: 30px;
    font-weight: 700;
}

.allServices-info p:nth-child(4) { /* phone number */
    font-family: BenchNine; 
    font-size: 24px;
    font-weight: 700;
}

.allServices-info p:nth-child(5) { /* email */
    font-family: BenchNine; 
    font-size: 24px;
}

.allServices-info p:nth-child(6) { /* website */
    font-family: BenchNine; 
    font-size: 24px;
}

.allServices-info p:nth-child(7) { /* description */
    font-family: BenchNine; 
    font-size: 24px;
}

.emailParagraph, .websiteParagraph {
    font-family: BenchNine; 
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;
    margin-left: 80px;
}

.descriptionParagraph {
    font-family: BenchNine; 
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
}


.tab1 { 
    tab-size: 4; 
}
        /*
        * A simpler keyframe rule, where 'from' is the same as 0%, and 'to' is the same
        * as 100%
        */
        @keyframes fade-in-up {
            from {
                transform: translateY(8pt);
                opacity: 0;
            }
            to {
                transform: none;
                opacity: 1;
            }
        }


#bikeHubText {
    padding: 30px;
    margin-left: 45px;
    width: 65%;
}

#bikeHubText p2 {
    font-size: 35px;
    margin-left: 40px;
}

/* Volunteer Events Page */

.EventsContainer {
    background-color: #006;
    position: absolute;
    width: 48%;
    height: max-content;
    text-align: center;
    padding: 45px;
    margin-left: 375px;
}

.EventsContainer h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.575px;
    background-color: transparent;
    color: #F5F6FA;
}

.EventBox {
    background-color: #FFE475;
    width: 100%;
    padding: 30px 30px 10px 35px;
    border-radius: 48px;
    margin-top: 50px;
    height: 170px;
    text-align: left;
    line-height: 2.5;
}

.EventBox p {
    font-family: BenchNine;
    font-size: 24px;
    background-color: transparent;
}

h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    background-color: transparent;
}

h7 {
    position: fixed;
    bottom: 0;
    right: 50px;
    margin: 25px;
    padding: 25px;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.575px;
    color: #006;
    background-color: transparent;
}

h7 a {
    background-color: transparent;
    cursor: pointer;
}